# VISMAY SHAH JUPYTER NOTEBOOK FOR INSIDE PETROLEUM TEST 2

In [147]:
import pandas as pd
import numpy as np
import math

In [148]:
desi = 0.8412              #Initial Effective Secant Decline per year
b = 0.63
wi = 0.75
rev = 0.60
oil_price = 48.5           #USD/bbl
discount_factor = 0.10
capex = 5500000            #USD
opex = 60000               #USD/year

start_day = 0              #day
qi = 2759.15               #bbl/day
q_end = 0.8                #bbl/day
d_switch = 0.08            #per year
end_day = 16441            #day

In [149]:
Di = round((((1-desi)**(-b))-1)/b, 3)   #Initial Nominal Decline per year
Di

3.472

# Find t_switch and q_switch

In [153]:
eco_df = pd.DataFrame(columns=["time", "q", "decline_rate", "cum_prod", "ann_prod", 
                               "capex", "opex", "revenue", "disc_fac","cash_flow"])
eco_df

Empty DataFrame
Columns: [time, q, decline_rate, cum_prod, ann_prod, capex, opex, revenue, disc_fac, cash_flow]
Index: []

In [154]:
eco_df["time"] = np.arange(0, end_day)
eco_df.head()

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
eco_df.iloc[0,1:] = [qi,round(Di/365,5),0,0,(capex*wi),0,0,1,-(capex*wi)]

In [160]:
eco_df.head(3)

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow
0,0,2759.15,0.00951,0,0,4.125e+06,0,0,1,-4.125e+06
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
for i in range(0,end_day-1):
    eco_df.iloc[i+1, 2] = round(((Di/365)/(1 + ((Di/365) * b * (i+1)))), 5)
    
    if eco_df.iloc[i+1, 2] < round(d_switch/365, 5):
        eco_df.iloc[i+1, 2] = round(d_switch/365, 5)

In [162]:
eco_df.iloc[[6887,6888]]

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow
6887,6887,NaN,0.00023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6888,6888,NaN,0.00022,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can see that on tha day 6888 the production decline curve changed from hyperbolic to exponential. So after that the value of b = 0 and Di will remain constant at 0.08

In [163]:
# updating the values of decline rate until day 6888 again
for i in range(0,len(eco_df[eco_df["decline_rate"] > round(d_switch/365, 5)])-1):
    eco_df.iloc[i+1, 1] = round(qi*((1 + ((Di/365) * b * (i+1)))**(-1/b)), 2)
    
# updating the values of decline rate after the day 6888 to be constant at 0.00022 per day
for i in range(len(eco_df[eco_df["decline_rate"] > round(d_switch/365, 5)]), end_day-1):
    eco_df.iloc[i+1, 1] = round(7.24 * math.exp(-round(d_switch/365, 5) * (eco_df.iloc[i+1, 0] - 6887)), 2)

In [164]:
eco_df.tail()

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow
16436,16436,0.89,0.00022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16437,16437,0.89,0.00022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16438,16438,0.89,0.00022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16439,16439,0.89,0.00022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16440,16440,0.89,0.00022,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Find NPV and ROI

To find the cum_prod and ann_prod it is necessary to convert the data into years from days. t_switch is actually on day 6888 but if we see that there is not a huge difference between flow rates on day 6888 and 6935, we will use 6935 as t_switch that is year number 19. I have alos ignored last 16 days of production from 16425 to 16441 as they do not add significant value towards the revenue or NPV and to ease the coding as well

In [165]:
eco_df.iloc[6935]

time               6935
q                  7.16
decline_rate    0.00022
cum_prod            NaN
ann_prod            NaN
capex               NaN
opex                NaN
revenue             NaN
disc_fac            NaN
cash_flow           NaN
Name: 6935, dtype: object

In [166]:
year_df = pd.DataFrame(columns=eco_df.columns)
year_df

Empty DataFrame
Columns: [time, q, decline_rate, cum_prod, ann_prod, capex, opex, revenue, disc_fac, cash_flow]
Index: []

In [167]:
year_df["time"] = np.arange(0, 16441, 365)
year_df.head()

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
year_df.iloc[0,:] = [0,qi,round(Di,2),0,0,round(capex*wi,2),0,0,1,round(-capex*wi,2)]

In [170]:
year_df.head(3)

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow
0,0,2759.15,3.47,0,0,4.125e+06,0,0,1,-4.125e+06
1,365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
year_df["capex"].fillna(value = 0, inplace = True) #Filling all Capex values with "0"
year_df["opex"].fillna(value = opex*wi, inplace = True) #Filling up all the Opex values considering working interest
year_df.head(3)

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow
0,0,2759.15,3.47,0,0,4125000.0,0.0,0,1,-4.125e+06
1,365,NaN,NaN,NaN,NaN,0.0,45000.0,NaN,NaN,NaN
2,730,NaN,NaN,NaN,NaN,0.0,45000.0,NaN,NaN,NaN

In [172]:
# Production rate, decline rate, and cummulative production till year 19 using hyperbolic decline equation 
for i in range(0,20):
    year_df.iloc[i+1, 1] = round(qi*((1 + (Di * b * (i+1)))**(-1/b)), 2)                                          #q
    year_df.iloc[i+1, 2] = round((Di/(1 + (Di * b * (i+1)))), 2)                                                  #decline_rate
    year_df.iloc[i+1, 3] = round(((1/(b*Di*((1/b)-1)))*(qi-year_df.iloc[i+1,1]*(1 + (Di * b * (i+1)))))*365, 2)   #cum_prod


# Production rate, decline rate, and cummulative production after year 19 to the end using exponential decline equation 
for i in range(19, len(year_df)-1):
    year_df.iloc[i+1, 1] = round(year_df.iloc[19,1] * math.exp(-round(d_switch, 2) * (i+1 - 19)), 2)              #q
    year_df.iloc[i+1, 2] = round(d_switch, 2)                                                                     #decline_rate
    year_df.iloc[i+1, 3] = round((((7.16-year_df.iloc[i+1,1])/d_switch)*365)+year_df.iloc[19,3], 2)               #cum_prod
    



for i in range(0,len(year_df)-1):
    year_df.iloc[i+1, 4] = round(year_df.iloc[i+1, 3] - year_df.iloc[i, 3], 2)                    #Annual Production
    year_df.iloc[i+1, 7] = round(year_df.iloc[i+1, 4] * oil_price * rev, 2)                       #Revenue
    year_df.iloc[i+1, 8] = round(year_df.iloc[i, 8]+(year_df.iloc[i, 8]*discount_factor), 2)      #Discount Factor
    year_df.iloc[i+1, 9] = round((year_df.iloc[i+1, 7]-year_df.iloc[i+1, 6]-year_df.iloc[i+1, 5])/year_df.iloc[i+1, 8], 2) 
                                                                                                                #Cash_Flow

    
year_df

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow
0,0,2759.15,3.47,0,0,4125000.0,0.0,0,1,-4.125e+06
1,365,438.21,1.09,387098,387098,0.0,45000.0,1.12646e+07,1.1,1.01996e+07
2,730,191.2,0.65,491966,104867,0.0,45000.0,3.05164e+06,1.21,2.48482e+06
3,1095,111.2,0.46,545024,53058.6,0.0,45000.0,1.54401e+06,1.33,1.12707e+06
4,1460,74.3,0.36,578131,33106.4,0.0,45000.0,963395,1.46,629038
5,1825,53.88,0.29,601210,23079.2,0.0,45000.0,671604,1.61,389195
6,2190,41.25,0.25,618409,17199.1,0.0,45000.0,500493,1.77,257340
7,2555,32.82,0.21,631842,13432.8,0.0,45000.0,390894,1.95,177382
8,2920,26.88,0.19,642665,10823.6,0.0,45000.0,314966,2.15,125565
9,3285,22.51,0.17,651644,8979.14,0.0,45000.0,261293,2.36,91649.6
10,3650,19.19,0.15,659231,7586.99,0.0,45000.0,220781,2.6,67608.2
11,4015,16.6,0.14,665747,6515.71,0.0,45000.0,189607,2.86,50561.9
12,4380,14.54,0.13,671379,5631.77,0.0,45000.0,163885,3.15,37741.1
13,4745,12.86,0.12,676393,5014.18,0.0,45000.0,145913,3.46,29165.5
14,5110,11.48,0.11,680800,4406.9,0.0,45000.0,128241,3.81,21848
15,5475,10.32,0.1,684809,4008.79,0.0,45000.0,116656,4.19,17101.6
16,5840,9.34,0.1,688418,3609.61,0.0,45000.0,105040,4.61,13023.8
17,6205,8.51,0.09,691619,3200.31,0.0,45000.0,93129,5.07,9492.9
18,6570,7.79,0.09,694589,2970.19,0.0,45000.0,86432.5,5.58,7425.18
19,6935,7.16,0.08,697366,2776.81,0.0,45000.0,80805.2,6.14,5831.46
20,7300,6.61,0.08,699875,2509.37,0.0,45000.0,73022.7,6.75,4151.51
21,7665,6.1,0.08,702202,2326.88,0.0,45000.0,67712.2,7.42,3060.94
22,8030,5.63,0.08,704346,2144.37,0.0,45000.0,62401.2,8.16,2132.5
23,8395,5.2,0.08,706308,1961.88,0.0,45000.0,57090.7,8.98,1346.4
24,8760,4.8,0.08,708133,1825,0.0,45000.0,53107.5,9.88,820.6
25,9125,4.43,0.08,709821,1688.12,0.0,45000.0,49124.3,10.87,379.42
26,9490,4.09,0.08,711373,1551.25,0.0,45000.0,45141.4,11.96,11.82
27,9855,3.78,0.08,712787,1414.38,0.0,45000.0,41158.5,13.16,-291.91
28,10220,3.49,0.08,714110,1323.12,0.0,45000.0,38502.8,14.48,-448.7
29,10585,3.22,0.08,715342,1231.88,0.0,45000.0,35847.7,15.93,-574.53
30,10950,2.97,0.08,716483,1140.62,0.0,45000.0,33192,17.52,-673.97
31,11315,2.74,0.08,717532,1049.38,0.0,45000.0,30537,19.27,-750.55
32,11680,2.53,0.08,718490,958.12,0.0,45000.0,27881.3,21.2,-807.49
33,12045,2.34,0.08,719357,866.88,0.0,45000.0,25226.2,23.32,-847.93
34,12410,2.16,0.08,720178,821.25,0.0,45000.0,23898.4,25.65,-822.68
35,12775,1.99,0.08,720954,775.62,0.0,45000.0,22570.5,28.21,-795.09
36,13140,1.84,0.08,721638,684.38,0.0,45000.0,19915.5,31.03,-808.4
37,13505,1.7,0.08,722277,638.75,0.0,45000.0,18587.6,34.13,-773.88
38,13870,1.57,0.08,722870,593.12,0.0,45000.0,17259.8,37.54,-738.95
39,14235,1.45,0.08,723418,547.5,0.0,45000.0,15932.2,41.29,-703.99
40,14600,1.33,0.08,723965,547.5,0.0,45000.0,15932.2,45.42,-639.98
41,14965,1.23,0.08,724421,456.25,0.0,45000.0,13276.9,49.96,-634.97
42,15330,1.14,0.08,724832,410.63,0.0,45000.0,11949.3,54.96,-601.36
43,15695,1.05,0.08,725243,410.62,0.0,45000.0,11949,60.46,-546.66
44,16060,0.97,0.08,725608,365,0.0,45000.0,10621.5,66.51,-516.89
45,16425,0.89,0.08,725973,365,0.0,45000.0,10621.5,73.16,-469.91

In [173]:
print("NPV of the project = {} USD".format(year_df["cash_flow"].sum()))
print("ROI of the project = {}".format(((((year_df["cash_flow"].sum())/(capex*wi))+1)*100)))

NPV of the project = 11615925.85 USD
ROI of the project = 381.5982024242424

# New Oil Prices, Cash Flow, NPV, and ROI

In [174]:
year_df = year_df.assign(new_oil_prices = np.nan, 
                         new_revenue    = np.nan, 
                         new_cash_flow  = np.nan)

In [175]:
year_df.head(3)

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow,new_oil_prices,new_revenue,new_cash_flow
0,0,2759.15,3.47,0,0,4125000.0,0.0,0,1,-4.125e+06,NaN,NaN,NaN
1,365,438.21,1.09,387098,387098,0.0,45000.0,1.12646e+07,1.1,1.01996e+07,NaN,NaN,NaN
2,730,191.2,0.65,491966,104867,0.0,45000.0,3.05164e+06,1.21,2.48482e+06,NaN,NaN,NaN

In [179]:
year_df.loc[0,["new_oil_prices","new_revenue","new_cash_flow"]] = [0, 0, -capex*wi]
year_df.loc[1,"new_oil_prices"] = oil_price

In [182]:
year_df.head(3)

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow,new_oil_prices,new_revenue,new_cash_flow
0,0,2759.15,3.47,0,0,4125000.0,0.0,0,1,-4.125e+06,0.0,0.0,-4125000.0
1,365,438.21,1.09,387098,387098,0.0,45000.0,1.12646e+07,1.1,1.01996e+07,48.5,NaN,NaN
2,730,191.2,0.65,491966,104867,0.0,45000.0,3.05164e+06,1.21,2.48482e+06,NaN,NaN,NaN

In [185]:
for i in range(1,len(year_df)-1):
    year_df.iloc[i+1, 10] = round(year_df.iloc[i, 10] - 1, 2)                                                    #new_oil_prices
    
for i in range(0,len(year_df)-1):
    year_df.iloc[i+1, 11] = round(year_df.iloc[i+1, 4] * year_df.iloc[i+1,10] * rev, 2)                            #new_revenue
    year_df.iloc[i+1, 12] = round((year_df.iloc[i+1, 11]-year_df.iloc[i+1, 6]-year_df.iloc[i+1, 5])/year_df.iloc[i+1, 8], 2) 
                                                                                                                   #new_cashflow
    

year_df

,time,q,decline_rate,cum_prod,ann_prod,capex,opex,revenue,disc_fac,cash_flow,new_oil_prices,new_revenue,new_cash_flow
0,0,2759.15,3.47,0,0,4125000.0,0.0,0,1,-4.125e+06,0.0,0.00,-4125000.00
1,365,438.21,1.09,387098,387098,0.0,45000.0,1.12646e+07,1.1,1.01996e+07,48.5,11264565.77,10199605.25
2,730,191.2,0.65,491966,104867,0.0,45000.0,3.05164e+06,1.21,2.48482e+06,47.5,2988715.20,2432822.48
3,1095,111.2,0.46,545024,53058.6,0.0,45000.0,1.54401e+06,1.33,1.12707e+06,46.5,1480336.06,1079200.05
4,1460,74.3,0.36,578131,33106.4,0.0,45000.0,963395,1.46,629038,45.5,903803.90,588221.85
5,1825,53.88,0.29,601210,23079.2,0.0,45000.0,671604,1.61,389195,44.5,616214.37,354791.53
6,2190,41.25,0.25,618409,17199.1,0.0,45000.0,500493,1.77,257340,43.5,448895.47,228189.53
7,2555,32.82,0.21,631842,13432.8,0.0,45000.0,390894,1.95,177382,42.5,342536.14,152582.64
8,2920,26.88,0.19,642665,10823.6,0.0,45000.0,314966,2.15,125565,41.5,269506.64,104421.69
9,3285,22.51,0.17,651644,8979.14,0.0,45000.0,261293,2.36,91649.6,40.5,218193.10,73386.91
10,3650,19.19,0.15,659231,7586.99,0.0,45000.0,220781,2.6,67608.2,39.5,179811.66,51850.64
11,4015,16.6,0.14,665747,6515.71,0.0,45000.0,189607,2.86,50561.9,38.5,150512.90,36892.62
12,4380,14.54,0.13,671379,5631.77,0.0,45000.0,163885,3.15,37741.1,37.5,126714.83,25941.22
13,4745,12.86,0.12,676393,5014.18,0.0,45000.0,145913,3.46,29165.5,36.5,109810.54,18731.37
14,5110,11.48,0.11,680800,4406.9,0.0,45000.0,128241,3.81,21848,35.5,93866.97,12825.98
15,5475,10.32,0.1,684809,4008.79,0.0,45000.0,116656,4.19,17101.6,34.5,82981.95,9064.90
16,5840,9.34,0.1,688418,3609.61,0.0,45000.0,105040,4.61,13023.8,33.5,72553.16,5976.82
17,6205,8.51,0.09,691619,3200.31,0.0,45000.0,93129,5.07,9492.9,32.5,62406.04,3433.14
18,6570,7.79,0.09,694589,2970.19,0.0,45000.0,86432.5,5.58,7425.18,31.5,56136.59,1995.80
19,6935,7.16,0.08,697366,2776.81,0.0,45000.0,80805.2,6.14,5831.46,30.5,50815.62,947.17
20,7300,6.61,0.08,699875,2509.37,0.0,45000.0,73022.7,6.75,4151.51,29.5,44415.85,-86.54
21,7665,6.1,0.08,702202,2326.88,0.0,45000.0,67712.2,7.42,3060.94,28.5,39789.65,-702.20
22,8030,5.63,0.08,704346,2144.37,0.0,45000.0,62401.2,8.16,2132.5,27.5,35382.10,-1178.66
23,8395,5.2,0.08,706308,1961.88,0.0,45000.0,57090.7,8.98,1346.4,26.5,31193.89,-1537.43
24,8760,4.8,0.08,708133,1825,0.0,45000.0,53107.5,9.88,820.6,25.5,27922.50,-1728.49
25,9125,4.43,0.08,709821,1688.12,0.0,45000.0,49124.3,10.87,379.42,24.5,24815.36,-1856.91
26,9490,4.09,0.08,711373,1551.25,0.0,45000.0,45141.4,11.96,11.82,23.5,21872.62,-1933.73
27,9855,3.78,0.08,712787,1414.38,0.0,45000.0,41158.5,13.16,-291.91,22.5,19094.13,-1968.53
28,10220,3.49,0.08,714110,1323.12,0.0,45000.0,38502.8,14.48,-448.7,21.5,17068.25,-1928.99
29,10585,3.22,0.08,715342,1231.88,0.0,45000.0,35847.7,15.93,-574.53,20.5,15152.12,-1873.69
30,10950,2.97,0.08,716483,1140.62,0.0,45000.0,33192,17.52,-673.97,19.5,13345.25,-1806.78
31,11315,2.74,0.08,717532,1049.38,0.0,45000.0,30537,19.27,-750.55,18.5,11648.12,-1730.77
32,11680,2.53,0.08,718490,958.12,0.0,45000.0,27881.3,21.2,-807.49,17.5,10060.26,-1648.10
33,12045,2.34,0.08,719357,866.88,0.0,45000.0,25226.2,23.32,-847.93,16.5,8582.11,-1561.66
34,12410,2.16,0.08,720178,821.25,0.0,45000.0,23898.4,25.65,-822.68,15.5,7637.62,-1456.62
35,12775,1.99,0.08,720954,775.62,0.0,45000.0,22570.5,28.21,-795.09,14.5,6747.89,-1355.98
36,13140,1.84,0.08,721638,684.38,0.0,45000.0,19915.5,31.03,-808.4,13.5,5543.48,-1271.56
37,13505,1.7,0.08,722277,638.75,0.0,45000.0,18587.6,34.13,-773.88,12.5,4790.62,-1178.12
38,13870,1.57,0.08,722870,593.12,0.0,45000.0,17259.8,37.54,-738.95,11.5,4092.53,-1089.70
39,14235,1.45,0.08,723418,547.5,0.0,45000.0,15932.2,41.29,-703.99,10.5,3449.25,-1006.32
40,14600,1.33,0.08,723965,547.5,0.0,45000.0,15932.2,45.42,-639.98,9.5,3120.75,-922.04
41,14965,1.23,0.08,724421,456.25,0.0,45000.0,13276.9,49.96,-634.97,8.5,2326.88,-854.15
42,15330,1.14,0.08,724832,410.63,0.0,45000.0,11949.3,54.96,-601.36,7.5,1847.83,-785.16
43,15695,1.05,0.08,725243,410.62,0.0,45000.0,11949,60.46,-546.66,6.5,1601.42,-717.81
44,16060,0.97,0.08,725608,365,0.0,45000.0,10621.5,66.51,-516.89,5.5,1204.50,-658.48
45,16425,0.89,0.08,725973,365,0.0,45000.0,10621.5,73.16,-469.91,4.5,985.50,-601.62

In [187]:
print("NPV of the project = {} USD".format(year_df["new_cash_flow"].sum()))
print("ROI of the project = {}".format(((((year_df["new_cash_flow"].sum())/(capex*wi))+1)*100)))

NPV of the project = 11222441.55 USD
ROI of the project = 372.0591890909091